.class-title {
    font-size: 30px;
    margin-left: 90px;
    margin-top: 60px;
    color: rgb(217, 39, 54)
}


.chapter-title {
    font-size: 40px;
    margin-left: 90px;
    color: rgb(221, 135, 49)
}