/* HomePage.css */

.home-page {
    text-align: center;
    /* background-color: rgb(51, 91, 156); */
  }


.hero {
    background: url('../images/education.jpg') center center/cover no-repeat;
    height: 67vh;
    /* background-color: rgb(83, 83, 100); */
    background-position: center;
    background-size: cover;
    /* padding: 195px 0; */
    width: 99.40%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
    object-fit: contain;
    color: rgb(6, 8, 4);
    margin-bottom: 12px;
    margin-top: 8px;
    margin-left: 0.30%;
    border-radius: 10px;
  }
  
.hero-content {
    max-width: 600px;
    padding-top: 160px;
    margin: 0 auto;
  }
  
.hero h2 {
    margin-bottom: 20px;
    font-size: 32px;
  }
  
.explore-courses-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ea6a2a;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 50px;
  }

  .explore-courses-btn:hover {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e5601d;
    color: wheat;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 50;
  }
  
.features {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
  }
  
.feature {
    flex: 1;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 0 7px;
    text-align: center;
  }
  
.feature i {
    font-size: 40px;
    margin-bottom: 10px;
  }
  