.class-title {
    /* position: relative; */
    font-size: 25px;
    margin-left: 90px;
    margin-top: 120px;
    color: #0c0101;
    padding-top: 120px;
}


.chapter-title {
    font-size: 35px;
    margin-left: 90px;
    margin-bottom: 30px;
    color: rgb(83, 159, 16)
}